.fondo
    background-image: url('../img/fondo5.jpg')
    background-position: center
    background-repeat: no-repeat
    background-size: cover
.contact
    position: relative
    top: 0
    width: 100%
.chico
    font-size: .6rem
.contenedorLogo
    // background: red
    width: 240px
    height: auto
    img
        width: 100%
.homeText
    // position: relative
    color: white
    h1
        font-size: 1.8rem
    p
        font-size: 1.6rem
    ul
        font-size: 1.2rem


// tamaño de la letra
.letra
    font-size: 1.5rem
.letra2
    font-size: 1.1rem
.titulo
    font-size: 1.3rem



@media (min-width: 768px)
    .homeText
        // top: -10px
        h1
            font-size: 2.5rem
        p
            font-size: 2rem
        ul
            font-size: 1.8rem
    .chico
        font-size: 1rem
@media (min-width: 1200px)
    .contact
        position: absolute
    .chico
        font-size: 1.2rem
    .contenedorLogo
        width: 310px
        height: auto